*{
    display: flex;
    flex-direction: column;
   
}
h2{
    background-color: rgb(37, 37, 37);
    color:aliceblue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
body{ 
    background-color: rgb(31, 30, 30);
    justify-content: center;
    align-items: center;
    text-align: center;
}
mat-card{
    align-items: center;
    max-width: 500px;
    gap: 2rem;
    margin-bottom: 15px;
    
}
button{
    margin-left: 50px;
    margin-right: 50px;
}


